<div (click)="goBack()" (keydown)="goBack()">
  <img src="icons/arrow-left-circle.svg" class="w-12 h-12 ml-4 mt-4" alt="" />
</div>

<div class="w-full flex justify-center">
  <div class="relative inline-block text-left">
    <h1 class="text-7xl font-bold text-gray-400 leading-tight mb-1">momoto</h1>
    <p
      class="text-lg font-medium text-[#D4AF37] absolute bottom-0 right-0 translate-y-1"
    >
      Servicios profesionales
    </p>
  </div>
</div>

<div class="flex flex-col items-center justify-center text-center mt-6">
  <h1 class="text-2xl font-bold leading-tight text-gray-500">Simulador</h1>
  <p class="text-sm font-medium text-gray-400 mt-2">
    Queremos que tu jardín luzca increíble.
  </p>
  <p class="text-sm font-medium text-gray-400">
    Completa estos 3 sencillos pasos para obtener una cotización rápida y
    personalizada.
  </p>
  <p class="text-sm font-medium text-gray-400">
    Nuestro servicio de jardinería profesional está disponible en Guarne,
    Marinilla y Rionegro.
  </p>
  <p class="text-sm font-medium text-gray-400">
    ¡Transforma tu espacio con <b>momoto</b>! 🌿
  </p>
</div>
