<div class="absolute w-full pt-96 sm:px-8 max-sm:px-2 bottom-0">
  <div class="w-full mb-1">
    <p class="text-8xl max-sm:text-6xl font-bold text-white">momoto</p>
  </div>

  <div class="w-full mb-1">
    <i class="text-white max-sm:text-sm">
      Servicio profesional atendido por operarios altamente calificados
    </i>
  </div>

  <div class="w-full mb-8 max-sm:mb-6">
    <i class="text-white text-lg">
      Transforma tu jardín con momoto. ¡Solicita tu servicio hoy!
    </i>
  </div>

  <div class="w-full mb-4 max-sm:mb-12">
    <button
      (click)="navigateToQuotation()"
      class="flex border-white text-white hover:border-teal-700 hover:text-white border hover:bg-teal-950 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg px-10 py-3.5 text-center me-2 mb-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z"
        />
      </svg>
      Cotiza en línea
    </button>
  </div>

  <!-- medios de pago -->
  <div class="flex justify-end items-center mb-2">
    <img src="images/cards-white.png" class="w-6 ml-3" alt="Tarjetas" />
    <img src="images/master-white.png" class="w-8 ml-3" alt="Master" />
    <img src="images/visa-white.png" class="w-6 ml-3" alt="Visa" />
    <img src="images/qr-scan-white.png" class="w-6 ml-3" alt="QR" />
    <img src="images/money-white.png" class="w-6 ml-3" alt="Efectivo" />
  </div>
</div>
