<nav class="w-full fixed top-0 left-0 z-50 linear-gradient">
  <div class="h-20 px-8 flex justify-between items-center">
    <!-- Logo o Título -->
    <div class="flex justify-center items-center">
      <!-- SVG Icono -->
      <img alt="" class="w-8 h-8 mr-6" src="icons/bug-ant.svg" />

      <!-- Título -->
      <a href="#" class="text-4xl font-bold text-[#c0c0c0]">Terranova</a>
    </div>

    <!-- Quote button -->
    <div>
      <button
        (click)="navigateToQuotation()"
        class="bg-blue-500 text-white rounded-md px-3 py-2"
      >
        cotiza en linea
      </button>
    </div>
  </div>
</nav>
