<div class="w-full flex justify-center mt-6">
  <p class="text-3xl">Listado de solicitudes de cotización</p>
</div>

<div class="w-full flex justify-center px-10 py-6 mb-6">
  <div
    class="w-full px-4 pt-4 bg-white border border-gray-200 rounded-lg shadow-sm md:px-8 md:pt-8 md:pb-4"
  >
    @for (alert of listAlerts; track alert.id) {
    <div
      [id]="alert.id"
      class="flex px-6 py-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50"
      role="alert"
    >
      <div>
        <p class="font-medium">{{ alert.message }}</p>
        <ul class="mt-1.5 list-disc list-inside">
          <li>At least 10 characters (and up to 100 characters)</li>
          <li>At least one lowercase character</li>
          <li>Inclusion of at least one special character, e.g., # ?</li>
        </ul>
      </div>
      <button
        (click)="removeAlert(alert.id)"
        class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex items-center justify-center h-8 w-8"
        data-dismiss-target="#alert-1"
        aria-label="Close"
      >
        <img src="icons/x-mark.svg" class="w-6 h-6" alt="" />
      </button>
    </div>
    }
  </div>
</div>
