<video
  autoplay
  loop
  muted
  playsinline
  class="w-full h-full object-cover absolute mt-32 max-sm:mt-16"
>
  <track src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English" />
  <track
    src="descriptions_en.vtt"
    kind="descriptions"
    srclang="en"
    label="English"
  />
  <source
    src="https://res.cloudinary.com/dxvq85dfz/video/upload/v1697049600/yxcaqfbebdclk2jxrrii.mp4"
    type="video/mp4"
  />
  <source
    src="https://res.cloudinary.com/dxvq85dfz/video/upload/v1697049600/yxcaqfbebdclk2jxrrii.webm"
    type="video/webm"
  />
  Tu navegador no soporta el elemento de video.
</video>
