<div class="w-full mt-8 mb-4">
  <ol
    class="items-center w-full ml-6 sm:ml-0 space-y-4 sm:flex sm:justify-center sm:space-x-8 sm:space-y-0 rtl:space-x-reverse"
  >
    <li
      class="flex items-center space-x-2.5 rtl:space-x-reverse"
      [class]="{
          'text-blue-600': one,
          'dark:text-blue-500': one,
          'text-gray-500': !one,
          'dark:text-gray-400': !one,
        }"
    >
      <span
        class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        [class]="{
          'border-blue-600': one,
          'dark:border-blue-500': one,
          'border-gray-500': !one,
          'dark:border-gray-400': !one,
        }"
      >
        1
      </span>
      <span>
        <h3 class="font-medium leading-tight">Datos personales</h3>
      </span>
    </li>
    <li
      class="flex items-center space-x-2.5 rtl:space-x-reverse"
      [class]="{
          'text-blue-600': two,
          'dark:text-blue-500': two,
          'text-gray-500': !two,
          'dark:text-gray-400': !two,
        }"
    >
      <span
        class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        [class]="{
          'border-blue-600': two,
          'dark:border-blue-500': two,
          'border-gray-500': !two,
          'dark:border-gray-400': !two,
        }"
      >
        2
      </span>
      <span>
        <h3 class="font-medium leading-tight">Caracteristicas</h3>
        <h3 class="font-medium leading-tight">del terreno</h3>
      </span>
    </li>
    <li
      class="flex items-center space-x-2.5 rtl:space-x-reverse"
      [class]="{
          'text-blue-600': three,
          'dark:text-blue-500': three,
          'text-gray-500': !three,
          'dark:text-gray-400': !three,
        }"
    >
      <span
        class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        [class]="{
          'border-blue-600': three,
          'dark:border-blue-500': three,
          'border-gray-500': !three,
          'dark:border-gray-400': !three,
        }"
      >
        3
      </span>
      <span>
        <h3 class="font-medium leading-tight">Precotización</h3>
      </span>
    </li>
  </ol>
</div>
