<div class="w-full flex justify-center px-2">
  <div
    class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm md:p-8 dark:bg-gray-800 dark:border-gray-700"
  >
    <form>
      <div class="grid gap-6 mb-6">
        <!-- area -->
        <div>
          <label
            for="area"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Área del terreno em metros cuadrados
          </label>
          <input
            type="number"
            id="area"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
            required
          />
        </div>

        <!-- inclination -->
        <div>
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Inclinación del terreno
          </label>
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Terreno plano</option>
            <option value="guarne">Inclinación menor a 45 grados</option>
            <option value="marinilla">Inclinación mayor a 45 grados</option>
          </select>
        </div>

        <!-- last name -->
        <div>
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            El terreno es pedregoso
          </label>
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>No</option>
            <option value="si">Si</option>
          </select>
        </div>
      </div>
    </form>

    <div class="w-full flex justify-around">
      <button
        (click)="navigateToFirstStep()"
        class="w-36 py-2.5 px-5 text-sm font-medium rounded-lg text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Anterior
      </button>
      <button
        (click)="navigateToThirdStep()"
        class="w-36 py-2.5 px-5 text-sm font-medium rounded-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
