.cloudinary-video {
  border: none; /* Elimina el borde del iframe */
  border-radius: 8px; /* Opcional: añade bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra */
}
