<div class="w-full flex justify-center px-2 mb-6">
  <div
    class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm md:p-8"
  >
    <form [formGroup]="form">
      <div class="grid gap-6 mb-6">
        <!-- name -->
        <div>
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('name')?.touched || form.get('name')?.valid,
              'text-red-700': form.get('name')?.touched && form.get('name')?.invalid,
            }"
          >
            Nombre
          </label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="text-sm rounded-lg block w-full p-2.5"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500': !form.get('name')?.touched || form.get('name')?.valid,
              'bg-red-50 border border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500':form.get('name')?.touched && form.get('name')?.invalid,
            }"
          />
          <p
            *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
            class="mt-2 text-sm text-red-600"
          >
            Por favor ingresa tu nombre.
          </p>
        </div>

        <!-- lastName -->
        <div>
          <label
            for="lastName"
            class="block mb-2 text-sm font-medium text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('lastName')?.touched || form.get('lastName')?.valid,
              'text-red-700': form.get('lastName')?.touched && form.get('lastName')?.invalid,
            }"
          >
            Apellido
          </label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="text-sm rounded-lg block w-full p-2.5"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500': !form.get('lastName')?.touched || form.get('lastName')?.valid,
              'bg-red-50 border border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500':form.get('lastName')?.touched && form.get('lastName')?.invalid,
            }"
          />
          <p
            *ngIf="
              form.get('lastName')?.touched && form.get('lastName')?.invalid
            "
            class="mt-2 text-sm text-red-600"
          >
            Por favor ingresa tu apellido.
          </p>
        </div>

        <!-- phone -->
        <div>
          <label
            for="phone"
            class="block mb-2 text-sm font-medium text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('phone')?.touched || form.get('phone')?.valid,
              'text-red-700': form.get('phone')?.touched && form.get('phone')?.invalid,
            }"
          >
            Número de teléfono de contacto
          </label>
          <input
            type="number"
            id="phone"
            formControlName="phone"
            class="text-sm rounded-lg block w-full p-2.5"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500': !form.get('phone')?.touched || form.get('phone')?.valid,
              'bg-red-50 border border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500':form.get('phone')?.touched && form.get('phone')?.invalid,
            }"
          />
          <p
            *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid"
            class="mt-2 text-sm text-red-600"
          >
            Por favor ingrese un número de contacto.
          </p>
        </div>

        <!-- email -->
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('email')?.touched || form.get('email')?.valid,
              'text-red-700': form.get('email')?.touched && form.get('email')?.invalid,
            }"
          >
            Correo electrónico
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="text-sm rounded-lg block w-full p-2.5"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500': !form.get('email')?.touched || form.get('email')?.valid,
              'bg-red-50 border border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500':form.get('email')?.touched && form.get('email')?.invalid,
            }"
          />
          <p
            *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
            class="mt-2 text-sm text-red-600"
          >
            Por favor ingrese un correo valido.
          </p>
        </div>

        <!-- town -->
        <div>
          <label
            for="town"
            class="block mb-2 text-sm font-medium text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('town')?.touched || form.get('town')?.valid,
              'text-red-700': form.get('town')?.touched && form.get('town')?.invalid,
            }"
          >
            Selecciona una opción
          </label>
          <select
            id="town"
            formControlName="town"
            class="text-sm rounded-lg block w-full p-2.5"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500': !form.get('town')?.touched || form.get('town')?.valid,
              'bg-red-50 border border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500':form.get('town')?.touched && form.get('town')?.invalid,
            }"
          >
            <option selected value="">Elije un municipio</option>
            <option value="Guarne">Guarne</option>
            <option value="Marinilla">Marinilla</option>
            <option value="Rionegro">Rionegro</option>
            <option value="Santa Elena">Santa Elena</option>
          </select>
          <p
            *ngIf="form.get('town')?.touched && form.get('town')?.invalid"
            class="mt-2 text-sm text-red-600"
          >
            Por favor seleccione un municipio.
          </p>
        </div>

        <!-- termsAndConditions -->
        <div class="flex items-start mb-4">
          <div class="flex items-center h-5">
            <input
              type="checkbox"
              id="termsAndConditions"
              formControlName="termsAndConditions"
              value=""
              class="w-4 h-4 border rounded-sm focus:ring-2"
              [ngClass]="{
                'text-blue-600 focus:ring-blue-500': !form.get('termsAndConditions')?.touched || form.get('termsAndConditions')?.valid,
                'border-red-500 bg-red-50 focos:ring-red-500': form.get('termsAndConditions')?.touched && form.get('termsAndConditions')?.invalid,
              }"
            />
          </div>

          <label
            for="termsAndConditions"
            class="block mb-2 text-sm font-medium ml-4 text-gray-900"
            [ngClass]="{
              'text-gray-900': !form.get('termsAndConditions')?.touched || form.get('termsAndConditions')?.valid,
              'text-red-700': form.get('termsAndConditions')?.touched && form.get('termsAndConditions')?.invalid,
            }"
          >
            Acepto el tratamiento de mis datos personales de acuerdo con la
            <a
              href="/pdf/personal_data_policy.pdf"
              target="_blank"
              class="text-blue-600 hover:underline"
            >
              Política de Tratamiento de Datos
            </a>
            de Momoto.
          </label>
        </div>
      </div>
    </form>

    <div class="w-full flex justify-around">
      <button
        (click)="navigateGoBack()"
        class="w-36 py-2.5 px-5 text-sm font-medium rounded-lg text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
      >
        Cancelar
      </button>
      <button
        (click)="navigateToSecondStep()"
        class="w-36 py-2.5 px-5 text-sm font-medium rounded-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
